$primary-text: #3a3a3a;
$second-text: #b7b7b7;
$price: #ff3d3d;
$primary: #d7856c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

body {
  font-family: 'Heebo',sans-serif,'微軟正黑體';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel {
  width: 100%;
  max-width: 300px;
  border: 1px solid $primary;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 0;
  background-color: $primary;
  color: white;
}



li {
  border-bottom: 1px solid $primary;
  padding: 16px ;
  &:last-child {
    border-bottom: none;
  }
}

.name {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
  color: $primary-text;
}

.description {
  font-size: 13px;
  padding-bottom: 8px;
  color: $second-text;
}

.price {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: $price;
  span {
    margin-left: 2px;
    font-size: 14px;
    color: $primary-text;
  }
}

